<div class="reportSection tableContainer">
  <h4>Cumulative Impact</h4>
  <table>
    <thead>
      <tr>
        <th>Mean</th>
        <th>Standard Deviation</th>
        <th>Minimum</th>
        <th>Maximum</th>
      </tr>
    </thead>
    <tbody>
      {{#cumulativeImpact}}
      <tr>
        <td style="text-align:center;">{{MEAN}}</td>
        <td>{{STD}}</td>
        <td>{{MIN}}</td>
        <td>{{MAX}}</td>
      </tr>
      {{/cumulativeImpact}}
      <tfoot>
        <tr>
          <td colspan=4>
           <a href="http://www.nceas.ucsb.edu/globalmarine" target="_blank">Learn more about cumulative impacts</a>
          </td>
      </tfoot>

    </tbody>
  </table>
  <p>
    <img src="http://s3.amazonaws.com/SeaSketch/projects/impacts/ci_legend.png"
  </p>

</div>