<div class="reportSection tableContainer">
  <h4>Scores at Point</h4>
  <table>
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      {{#scores}}
      <tr>

      </tr>
      {{/scores}}

    </tbody>
  </table>


</div>